[submodule "FFHT"]
	path = FFHT
	url = https://github.com/dnbaker/FFHT
    branch = master
[submodule "fastrange"]
	path = fastrange
	url = https://github.com/lemire/fastrange
    branch = master
[submodule "blaze"]
	path = blaze
	url = https://bitbucket.org/blaze-lib/blaze.git
    branch = master
[submodule "kspp"]
	path = kspp
	url = https://github.com/dnbaker/kspp
    branch = master
[submodule "random"]
	path = random
	url = https://github.com/boostorg/random
    branch = develop
[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11
[submodule "sleef"]
	path = sleef
	url = https://github.com/shibatch/sleef
[submodule "math"]
	path = math
	url = https://github.com/boostorg/math
