[submodule "FFHT"]
	path = FFHT
	url = https://github.com/dnbaker/FFHT
[submodule "fastrange"]
	path = fastrange
	url = https://github.com/lemire/fastrange
[submodule "blaze"]
	path = blaze
	url = https://bitbucket.org/blaze-lib/blaze.git
[submodule "kspp"]
	path = kspp
	url = https://github.com/dnbaker/kspp
[submodule "fftw-wrapper"]
	path = fftw-wrapper
	url = https://github.com/dnbaker/fftw-wrapper
[submodule "random"]
	path = random
	url = https://github.com/boostorg/random
